@font-face {
    font-family: Crack;
    src: url(../../Crack.ttf);
}

.wrapper{
    height: 6vh;
    overflow: hidden;  
}

.textTypist{
    position: relative;
    top: 0;
    animation: slider 12s steps(4) infinite;
}
.textTypist::after{
    content: "";
    border-left: 2px solid #FC6D6D;
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    line-height: 35px;
    background-color: white;
    animation: typing 3s steps(15) infinite;   
}
.heading{
    font-family: 'Crack';
}
@keyframes slider {
    100%{
        top: -12rem;
    }
}
@keyframes typing {
    100%{
        left: 110%;
    }   
}